<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
  </head>
  <body>
    <h1> Please Login Below </h1>
    <form action="/" method="post">
      <label>Username</label>
      <input type='text' name='username' value='' placeholder="Input username">
      <br>
      <label>Password</label>
      <input type='text' name='password' value='' placeholder="Input password">
      <button type='submit'>submit</button>
    </form>

  </body>
</html>
